.input{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input input{
    height: 2rem;
    text-align: center;
    margin-top: 1rem;
    border-radius: 0.2rem;
}

.cardWrapper {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
}

.card{
    overflow: hidden;
    box-shadow: 0 2px 20px #e1e5ee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.cardTitle{
    padding: 1rem;
}

.cardDescription{
    padding: 0 1rem;
}

.cardBTN{
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid #d50000;
    background-color: transparent;
    color: #d50000;
    border-radius: 0.2rem;
    transition: background 200ms ease-in, color 200ms ease-in;
}

.card:hover{
    transform: scale(1.02);
}

.cardBTN:hover{
    background-color: #d50000;
    color: white;
}