.card{
    overflow: hidden;
    box-shadow: 0 2px 20px #e1e5ee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}

.cardDisplay{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.cardBody{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 100%;
}

.cardHeader{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardHeader button {
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.cardTitle{
    padding: 1rem;
}

.cardDescription{
    padding: 0 1rem;
}

.cardBTN{
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid #0e6efd;
    background-color: transparent;
    color: #0e6efd;
    border-radius: 0.2rem;
    transition: background 200ms ease-in, color 200ms ease-in;
}

.card:hover{
    transform: scale(1.02);
}

.cardBTN:hover{
    background-color: #0055d5;
    color: white;
}

/* Table */

.tableContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
  
  table {
    border-collapse: collapse;
    table-layout:fixed;
    width:100%;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  thead tr {
    background-color: #0e6efd;
    text-align: left;
    color: #ffffff;
    font-weight: bold;
  }
  
  th, td {
    padding: 12px 15px
  }
  
  tbody tr{
    border-bottom: 1px solid #dddddd;
  }
  
  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  tbody tr:last-of-type{
    border-bottom: 2px solid #0e6efd;
  }

