.input{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input input{
    height: 2rem;
    text-align: center;
    margin-top: 1rem;
    border-radius: 0.2rem;
    border: 2px solid #0e6efd;
}

.cardWrapper {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    gap: 2rem;
    justify-content: center;
}

/* Table */

.tableContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
  
  table {
    border-collapse: collapse;
    table-layout:fixed;
    width:100%;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  thead tr {
    background-color: #009879;
    text-align: left;
    color: #ffffff;
    font-weight: bold;
  }
  
  th, td {
    padding: 12px 15px
  }
  
  tbody tr{
    border-bottom: 1px solid #dddddd;
  }
  
  tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
  }