.navWrapper {
    width: 100%;
    background-color: #0e6efd;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15vh;
}